<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459749930601-l1trg4529l41nae6qbceq3agij7to8c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459749930601-l1trg4529l41nae6qbceq3agij7to8c0</string>
	<key>API_KEY</key>
	<string>AIzaSyDNgcoRTdRj_wiMaOP1R70BmbMWLbqr2z0</string>
	<key>GCM_SENDER_ID</key>
	<string>459749930601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shifu.Medicine-Application</string>
	<key>PROJECT_ID</key>
	<string>medicine-application-31308</string>
	<key>STORAGE_BUCKET</key>
	<string>medicine-application-31308.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459749930601:ios:c09232737050a9d21c94f8</string>
</dict>
</plist>